{% extends "base.html" %}

{% block title %}Score - Leaderboard{% endblock %}
{% block content %}
{% if !score.pending %}
    <div class="flex flex-col w-screen h-screen place-items-center">
      <div class="p-4 bg-white md:m-4 md:shadow-xl h-min w-min md:ring-1 md:rounded-2xl ring-gray-500/50 center">
          <div class="flex flex-row whitespace-nowrap">
              <div class="mr-4 font-bold text-right">
                  <code>
                      Username:<br>
                      Score:<br>
                      Scored at:<br>
                  </code>
              </div>
              <div>
                  <p>
                      {{ score.username.as_ref().unwrap() }}<br>
                      {{ score.score }}<br>
                      {{ score.scored_at.format("%Y %B %d, %k:%M:%S") }}<br>
                  </p>
              </div>
          </div>
      </div>
    </div>
{% else %}
    <div class="flex flex-col w-screen h-screen place-items-center">
        <p class="m-4 fonttext-center">
            A score with <b>{{ score.score }}</b> points was achieved at <b>{{ score.scored_at.format("%k:%M:%S") }}</b> on <b>{{ score.scored_at.format("%Y %B %d") }}</b>.<br>
            Type your name below to claim your score!
        </p>
        <input id="input-username" type="text" placeholder="Name!" required autofocus class="p-4 m-4 bg-white shadow-xl h-min w-min ring-1 rounded-2xl ring-gray-500/50 center">
        <button onclick="submitScore()">
            Claim score
        </button>
    </div>

    <script>
        let nameEl = document.getElementById('input-username');

        async function submitScore() {
            let name = nameEl.value;

            let response = await fetch("/api/score/{{ score.id }}", {
                method: "PATCH",
                headers: {
                    "username": name,
                }
            });

            if (response.ok) {
                window.location = "/";
            } else {
                // should show an error, but instead just reload the page skipping cache.
                window.location.reload(true);
            }
        }
    </script>
{% endif %}
{% endblock %}
